@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body {
    margin: 0;
}

main {
    padding: 70px 90px;
    padding-bottom: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
}

nav img {
    width: 230px;
}

nav button {
    background-color: white;
    border: 1px solid hsl(322, 100%, 66%);
    color: hsl(322, 100%, 66%);
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

nav button:hover {
    color: hsl(321, 100%, 78%);
    border: 1px solid hsl(321, 100%, 78%);
}

.main-heading {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.main-para {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 600;
}

.start-button {
    background-color: hsl(322, 100%, 66%);
    color: white;
    border: none;
    padding: 20px 40px;
    font-family: "Open Sans", sans-serif;
    border-radius: 50px;
    font-size: 16px;
    margin: 50px 0 70px;
    margin-left: 490px;
    cursor: pointer;
}

.start-button:hover {
    background-color: hsl(321, 100%, 78%);
}

.main-image {
    width: 700px;
    margin-left: 250px;
}

.stats {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 0 auto;
    margin-top: 60px;
}

.stats img {
    width: 40px;
}

.stats h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin-top: -10px;
    margin-bottom: -15px;
}

.stats p {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: grey;
}

.first-section, .second-section, .third-section {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
}

.first-section img, .third-section img {
    width: 350px;
    margin-right: 200px;
}

.second-section img {
    width: 350px;
}

.bg1 {
    margin: -90px;
    width: 1380px;
    margin-top: 60px;
}

.bg2, .bg3, .bg4 {
    margin: -90px;
    width: 1380px;
}

.first-section, .third-section {
    background-color: rgb(246, 250, 252);
    margin-left: -90px;
    width: 1375px;
    margin-top: 85px;
    margin-bottom: 30px;
}

.first-section .text, .second-section .text, .third-section .text {
    width: 400px;
    margin-left: 260px;
    margin-top: 90px;
}

.first-section .text h2, .second-section .text h2, .third-section .text h2 {
    font-family: "Poppins", sans-serif;
}

.first-section .text p, .second-section .text p, .third-section .text p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    margin-top: -6px;
    font-weight: 600;
}

.second-section {
    margin: 150px 0;
    margin-left: 130px;
}

.ready {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-top: 250px;
}

.wave-border {
    width: 1380px;
    margin-left: -90px;
    margin-top: 80px;
    margin-bottom: -5px;
}

footer {
    background-color: hsl(192, 100%, 9%);
    margin: 0 -90px;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 150px;
    padding-top: 80px;
}

.logo {
    width: 200px;
}

.left-part {
    width: 250px;
    margin-left: 150px;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
}

.right-part {
    width: 400px;
    margin-right: 200px;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
}

.phone, .email {
    display: flex;
}

.phone img, .email img {
    width: 15px;
    height: 15px;
    margin-top: 14px;
    margin-right: 20px;
}

.email {
    margin-top: -8px;
}

.right-part p {
    width: 280px;
}

.email-input {
    margin-top: 30px;
}

.email-input input {
    width: 200px;
    padding: 8px;
    border-radius: 5px;
}

.email-input button {
    background-color: hsl(322, 100%, 66%);
    color: white;
    margin-left: 30px;
    padding: 8px 30px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
}

.error-msg {
    display: none;
    color: red;
}

.email-input button:hover {
    background-color: hsl(321, 100%, 78%);
}

.fa-twitter {
    background-color: white;
    color: black;
    margin-right: 15px;
    margin-top: 40px;
    font-size: 15px;
    padding: 4px;
    border-radius: 2px;
}

.fa-instagram {
    color: white;
    background-color: transparent;
    font-size: 25px;
    margin-right: 10px;
}

.fa-facebook-f {
    color: hsl(192, 100%, 9%);
    background-color: white;
    font-size: 15px;
    padding: 3px;
    padding-left: 8px;
    border-radius: 2px;
    margin-right: 10px;
}

.fa-twitter:hover {
    background-color: rgb(102, 154, 225);
}

.fa-instagram:hover {
    color: rgb(209, 88, 88)
}

.fa-facebook-f:hover {
    color: white;
    background-color: rgb(102, 154, 225);
}

@media only screen and (max-width:480px){
    main {
        padding: 50px 30px;
    }

    nav {
        margin-bottom: 90px;
    }

    nav img {
        width: 90px;
        height: 20px;
    }

    .main-para {
        width: 300px;
    }

    .start-button {
        margin-left: 30px;
    }

    .main-image {
        width: 250px;
        margin-left: 20px;
    }

    .stats {
        display: block;
        text-align: center;
        width: 200px;
    }

    .bg1, .bg2, .bg3, .bg4, .first-section, .third-section, .wave-border {
        width: 368px;
        margin: 0;
    }

    .bg1, .bg2, .bg3, .bg4, .wave-border {
        margin-left: -35px;
    }

    .first-section, .second-section, .third-section {
        display: block;
        width: 350px;
        margin: 0;
    }

    .first-section img, .third-section img {
        margin-right: 0;
        width: 250px;
    }

    .second-section img {
        width: 250px;
    }

    .first-section .text, .second-section .text, .third-section .text, .second-section {
        margin-left: 0;
        width: 300px
    }

    .first-section .text p, .second-section .text p, .third-section .text p {
        width: 300px
    }

    footer {
        display: block;
        margin: 0;
    }
}